@import "colors";

body {
  a {
    color: $mainBlue;
  }
  font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

.container {
  line-height: 1.35;
  margin: 0 auto;  
  max-width: 50em;
  padding: 2em;
  button {
    background: none;
    border-radius: 0;
    border: none;
    padding: .5em;    
  }
  form {
    input {
      display: block;
      margin-bottom: 1em;
      padding: .5em;
    }
  }
}

.errors {
  color: $mainRed;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.flex {
  display: flex;
  &-row {
    @extend .flex;
    flex-direction: row;
  }
  &-column {
    @extend .flex;    
    flex-direction: column;
  }
}

.header {
  justify-content: space-between;
  padding: 1em;
  a, span {
    margin-right: .5em;
  }
}

.signup, .signin {
  form {
    background-color: $mainLightGray;
    margin: 0 auto;
    max-width: 20em;
    padding: 1em;
    button {
      background-color: $mainBlue;
      color: white;
    }    
    input {
      width: 100%;
    }
  }
}