<div class="header">
  <a href="/">Home</a>
  <div class="user">
    <% if (user) { %>
      <a href="/tables">Tables</a>
      <a href="/account">Account</a>
      <a href="/signout">Sign out</a>
    <% } else { %>
      <a href="/signin">Sign in</a>
      <a href="/signup">Sign up</a>
    <% }  %>    
  </div>
</div>