<% extend("../layout") %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores neque molestiae sed saepe voluptate animi incidunt, ipsa alias cumque et rerum laborum mollitia in soluta magni pariatur accusantium, eum atque?</p>