<% extend("../layout") %>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut ea, distinctio esse sunt reprehenderit vitae officiis sapiente soluta, reiciendis molestias beatae facilis magnam eaque error eius atque recusandae officia et!</p>